{% extends 'core/base.html' %}
{% load static %}

{% block title %}CS3 - Horarios & Tarifas{% endblock %}


{% block content %}

    <article class="border_div">
        <h3>Días y Horarios</h3>
        <div class="grid_container" id="timetable_big">
            <div></div>
            <div class="grid_header">Lunes</div>
            <div class="grid_header">Martes</div>
            <div class="grid_header">Miércoles</div>
            <div class="grid_header">Jueves</div>
            <div class="grid_header">Viernes</div>
            <div class="grid_header">Sábado</div>

            <div class="grid_header">08:00</div>
            <div class="grid_online">Online</div>
            <div>Presencial</div>
            <div class="grid_online">Online</div>
            <div>Presencial</div>
            <div>Presencial</div>
            <div>Presencial</div>

            <div class="grid_header">09:00</div>
            <div></div>
            <div>Presencial</div>
            <div></div>
            <div>Presencial</div>
            <div>Presencial</div>
            <div>Presencial</div>

            <div class="grid_header">10:00</div>
            <div></div>
            <div>Presencial</div>
            <div></div>
            <div>Presencial</div>
            <div>Presencial</div>
            <div></div>

            <div class="grid_header">11:00</div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>

            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>

            <div class="grid_header">16:00</div>
            <div>Presencial</div>
            <div>Presencial</div>
            <div>Presencial</div>
            <div>Presencial</div>
            <div>Presencial</div>
            <div></div>



            <div class="grid_header">17:00</div>
            <div>Presencial</div>
            <div>Presencial</div>
            <div>Presencial</div>
            <div>Presencial</div>
            <div>Presencial</div>
            <div></div>

            <div class="grid_header">18:00</div>
            <div>Presencial</div>
            <div>Presencial</div>
            <div>Presencial</div>
            <div>Presencial</div>
            <div>Presencial</div>
            <div></div>

            <div class="grid_header">19:00</div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            
        </div>

        <div class="grid_container" id="timetable_small">
            <div></div>
            <div class="grid_header">Lu</div>
            <div class="grid_header">Ma</div>
            <div class="grid_header">Mi</div>
            <div class="grid_header">Ju</div>
            <div class="grid_header">Vi</div>
            <div class="grid_header">Sá</div>

            <div class="grid_header">8</div>
            <div class="grid_online">OL</div>
            <div>Pre</div>
            <div class="grid_online">OL</div>
            <div>Pre</div>
            <div>Pre</div>
            <div>Pre</div>

            <div class="grid_header">9</div>
            <div></div>
            <div>Pre</div>
            <div></div>
            <div>Pre</div>
            <div>Pre</div>
            <div>Pre</div>

            <div class="grid_header">10</div>
            <div></div>
            <div>Pre</div>
            <div></div>
            <div>Pre</div>
            <div>Pre</div>
            <div></div>

            <div class="grid_header">11</div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>

            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>

            <div class="grid_header">16</div>
            <div>Pre</div>
            <div>Pre</div>
            <div>Pre</div>
            <div>Pre</div>
            <div>Pre</div>
            <div></div>



            <div class="grid_header">17</div>
            <div>Pre</div>
            <div>Pre</div>
            <div>Pre</div>
            <div>Pre</div>
            <div>Pre</div>
            <div></div>

            <div class="grid_header">18</div>
            <div>Pre</div>
            <div>Pre</div>
            <div>Pre</div>
            <div>Pre</div>
            <div>Pre</div>
            <div></div>

            <div class="grid_header">19</div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            
        </div>

        <p><b>IMPORTANTE:</b>
        <br>Dado que no doy clase a más de 4 personas por horario,<br>utilizá el formulario de <b><a href="contacto.html">Contacto</a></b> para enviar tu disponibilidad horaria.
        <br>Me comunicaré a la brevedad para ofrecerte opciones<br>en función de los lugares que haya disponibles.</p>
    </article>

    <article class="border_div">
        <h3>Tarifas por Clases Grupales</h3>
        (máximo 4 personas por horario)
        <p></p>
        <div class="grid_container" id="fees">

            <div></div>
            <div class="grid_header">Valor Mensual</div>
            <div class="grid_header">1 Clase Semanal</div>
            <div>$3.000</div>
            <div class="grid_header">2 Clases Semanales</div>
            <div>$5.000</div>
            <div class="grid_header">3 Clases Semanales</div>
            <div>$7.000</div>
            <div class="grid_header">4 Clases Semanales</div>
            <div>$9.000</div>
            <div class="grid_header">5 Clases Semanales</div>
            <div>$11.000</div>
            <div class="grid_header">6 Clases Semanales</div>
            <div>$13.000</div>

        </div>

        <p>Tené en cuenta que los entrenamientos en las clases grupales son <b>personalizados</b>.
        <br>Cada persona tiene su rutina con sus ejercicios y sus cargas propias,<br>incluso si comparte horario con otros.</p>
    </article>

    <article class="border_div">
        <p>Si preferís entrenar solo/a,<br>o en horarios diferentes a los de las clases grupales,<br>también ofrezco clases individuales:</p>

        <h3>Tarifas por Clases Individuales</h3>
        <div class="grid_container" id="fees">

            <div></div>
            <div class="grid_header">Valor Mensual</div>
            <div class="grid_header">1 Clase Semanal</div>
            <div>$9.000</div>
            <div class="grid_header">2 Clases Semanales</div>
            <div>$15.000</div>
            <div class="grid_header">3 Clases Semanales</div>
            <div>$21.000</div>
            <div class="grid_header">4 Clases Semanales</div>
            <div>$27.000</div>
            <div class="grid_header">5 Clases Semanales</div>
            <div>$33.000</div>
            <div class="grid_header">6 Clases Semanales</div>
            <div>$39.000</div>

        </div>

        <p>Utilizá el formulario de <b><a href="contacto.html">Contacto</a></b> para solicitar clases individuales.</p>
        
    </article>

{% endblock %}